@{
    ViewBag.Title = "Ingreso";
}
@Scripts.Render("~/bundles/login")
@Scripts.Render("~/bundles/jqueryval")
<div class="jumbotron" style="float:left;">
    <h1>NEGOCIOS Y CONTACTOS</h1>
</div>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<div class="row">
    <div class="col-md-4">
        <label style="text-align:left;width:15em;">Nombre de Usuario: </label><input id="txtUserName" type="text" /><br />
        <label style="text-align:left;width:15em;">Contraseña: </label><input id="txtPassword" type="password" /><br /><br />
        <input id="btnLogin" class="btn btn-primary" href="" type="button" value="Enviar" /><br /><br />
        <a id="lnkForgotPassword">¿Olvidó su contraseña?</a>
    </div>
    <br />
    <div class="col-md-8">
        <div style="text-align:center;">
            <label>También puedes ingresar a nuestro sitio con las siguientes redes sociales: </label>
            <p>
                <br />
                <button style="width:8em;" type="button" class="btn btn-social btn-google" id="btnLoginGoogle" name="provider" value="Google" title="Inicie sesión con su cuenta Google">Google</button><br />
                <div id="name"></div>
                <button style="width:8em;margin-top:0.5em;" type="button" class="btn btn-social btn-facebook" id="btnLoginFacebook" name="provider" value="Facebook" title="Inicie sesión con su cuenta Facebook">Facebook</button>
                <div id="status"></div>
            </p>
        </div>
    </div>
</div>
<div id="login-message-logout" title="Información"></div>
<div id="login-error-logout" title="Información"></div>
<div id="divForgotPassword" title="Olvidó su contraseña" style="display:none;">
    <form id="frmForgotPassword">   
        <div id="divSummaryForgotPasswordErrors"><ul class="register-error"></ul></div><br />     
        <label>Ingrese la dirección de correo <br />electrónico que tiene registrada:</label><br />
        <input type="email" id="txtForgotPassword" name="txtForgotEmail" /><br /><br />
        <input type="submit" class="btn btn-primary" id="btnForgotPassword" value="Enviar" /><br />
    </form>
    </div>
<br /><br />