@model NegociosYContactos.Models.SearchListViewModel
<h2 style="margin-top:4em;">@ViewBag.Title</h2>
<div style="clear:both; border-top : 40px solid #5ebdb2"></div>
<div style="text-align:center;">
    @foreach (var item in Model.SearchList)
    {
        <div style="width:33%;float:right;">
            <div>@item.Item</div>
            <img src=@item.UrlImage />
        </div>
    }
</div>
<div style="clear:both; border-top : 40px solid #5ebdb2"></div>
<br /><br /><br />
