<h2>Política de Privacidad</h2>
<br />
<div style="text-align:justify;">
    <h3>Política de Privacidad de Contactos y Negocios</h3>
    <br />
    <p>
        Cuál es la información personal que nosotros recolectamos
    </p>
    <p>
        Negocios y Contactos recolecta su información personal cuando usted voluntariamente la diligencia en nuestro 
        formulario de registro o cuando se vincula con nosotros a través de terceros. Si usted escoge registrarse en 
        nuestro sitio, nosotros le preguntaremos cierta información personal como su nombre, dirección física, número 
        de teléfono, dirección de correo electrónico.  Nosotros también recolectaremos información que le permita a 
        usted establecer un usuario y una contraseña para el ingreso a nuestro sitio si usted así lo desea.
    </p>
    <p>
        Como Revisar y Cambiar su Información Personal
    </p>
    <p>
        Si usted se registra en Negocios y Contactos puede revisar y cambiar su información personal ingresando a 
        nuestro sitio y posteriormente haciendo click sobre su nombre ubicado en la barra de menú en la parte superior 
        de la pantalla y luego haciendo click en Actualizar Datos
    </p>
    <p>
        Como usamos la información personal que recolectamos en nuestro sitio
    </p>
    <p>
        Uso interno
    </p>
    <p>
        Usamos su información personal dentro de Negocios y Contactos para: ofrecerle servicios y productos que usted 
        necesite, responder preguntas acerca de nuestros servicios; medios de pago o uso de nuestros servicios, 
        procesar o recolectar pagos por nuestros servicios, realizar encuestas a nuestros clientes y contactarnos con 
        usted acerca de los productos y servicios que nosotros ofrecemos.
    </p>
    <p>
        Divulgación de la Información Personal a terceros
    </p>
    <p>
        No revelaremos ninguna información personal a terceros (excluyendo la información que usted publique de sus 
        productos o servicios y la información de localización que usted nos provea, ya que estará disponible para 
        el público en general  y también excluyendo a nuestros contratistas a los que podemos proporcionar dicha 
        información con el único propósito de generar servicios a nosotros y quienes están obligados a mantener la 
        información confidencial), a menos que usted nos haya autorizado para hacerlo o la ley nos obligue a hacerlo 
        así, por ejemplo, en respuesta a una citación, orden judicial u otro proceso legal y/o, sea necesario para 
        proteger nuestros derechos de propiedad relacionados con este sitio web. También podemos compartir información 
        agregada, no personal, sobre el uso de su sitio web con terceros no afiliados. Esta información agregada no 
        contiene ninguna información personal sobre nuestros usuarios.
    </p>
    <p>
        Uso de cookies
    </p>
    <p>
        Negocios y Contactos, al igual que muchos otros sitios comerciales, pueden utilizar una tecnología estándar 
        llamada "cookies" para recoger información sobre cómo se utiliza nuestro sitio. Las cookies fueron diseñadas 
        para ayudar a un operador del sitio Web a determinar que un usuario en particular visitó el sitio anteriormente 
        y así guardar y recordar las preferencias que puedan haber sido establecidas. Podemos utilizar cookies para 
        realizar un seguimiento de la información sobre su sesión de navegación web actual que será descartado tan 
        pronto como finalice la sesión o cierre su navegador web. Esta información también nos permite monitorear 
        estadísticamente cuántas personas están usando nuestro sitio y con qué propósito. También podemos hacer uso de 
        cookies "persistentes o basadas en memoria", que permanecen en el disco duro de su ordenador hasta que los elimine. 
        Aunque usted tiene la capacidad de modificar su navegador para aceptar todas las cookies, que le notifique cuando 
        se envía una cookie, o rechazar todas las cookies, puede que no sea posible utilizar nuestros servicios si rechaza 
        las cookies.
    </p>
    <p>
        Como protegemos la información en línea
    </p>
    <p>
        Tenemos gran cuidado para proteger su información personal. Esto incluye, entre otras cosas, el uso de técnicas 
        estándar de la industria, tales como la prevención de inyección SQL, cifrado y detección de intrusiones proporcionados 
        por nuestros proveedores de hosting. Como resultado, mientras nos esforzamos por proteger su información personal, no 
        podemos asegurar o garantizar la seguridad de cualquier información que usted nos transmita o reciba de nosotros. 
        Esto es especialmente cierto para la información que usted nos transmita por correo electrónico ya que no tenemos 
        forma de proteger esa información hasta que nos llega desde el correo electrónico. Además, limitamos a 'empleados 
        y contratistas' de Negocios y Contactos el acceso a información personal. Sólo aquellos empleados y contratistas con 
        una razón de negocios tienen acceso a esta información. Educamos a nuestros empleados sobre la importancia de mantener 
        la confidencialidad de la información de los clientes. Revisamos nuestras medidas de seguridad cuando lo consideramos 
        apropiado.
    </p>
    <p>
        Como puede ayudarnos a proteger su información
    </p>
    <p>
        Si va a usar  nuestro sitio web para publicar sus productos o servicios y para realizar contactos de negocios, 
        recomendamos que escoja una contraseña segura y no la divulgue. Nosotros nunca le preguntaremos cual es su contraseña, 
        ni por teléfono ni por correo electrónico. También recuerde cerrar su sesión y cerrar la ventana de su navegador cuando 
        usted finalice su trabajo. Esto es para asegurar que otras personas o aplicaciones no puedan acceder a su información 
        personal.
    </p>
    <p>
        Vínculos a otros sitios
    </p>
    <p>
        Nosotros ofrecemos a los visitantes del sitio información valiosa de servicios, productos y otros contenidos dentro 
        del sitio web de Negocios y Contactos que pueden vincular a nuestros usuarios a sitios de terceros. Negocios y Contactos 
        no controla y no es responsable de las prácticas de los sitios web de terceros.
    </p>
    <p>
        Notas
    </p>
    <p>
        Nosotros podemos cambiar esta política de privacidad, por ejemplo, cuando actualizamos o mejoramos nuestros servicios 
        o cuando nuevas características requieren modificaciones a la política de privacidad. De acuerdo con lo anterior, por 
        favor revise esta política periódicamente.
    </p>
</div>