<h2>Términos y Condiciones</h2>
<br />
<div style="text-align:justify;">
    <h3>Términos y Condiciones de Contactos y Negocios</h3>
    <br />
    <p>
        Si desea utilizar nuestros servicios, usted acepta los términos y condiciones de este acuerdo. Asimismo, 
        al utilizar los servicios de "Negocios y Contactos", usted estará dispuesto a cumplir con todas las pautas 
        de uso que se hayan publicado para todos los servicios de "Negocios y Contactos". Todo uso de estos 
        servicios significará la aceptación de este acuerdo. 
    </p>
    <p>
        En "Negocios y Contactos" creemos que la privacidad es importante para el éxito en el uso de Internet. 
        La política de privacidad de "Negocios y Contactos"  describe las practicas que nosotros seguiremos con respecto 
        a la privacidad de la información de los usuarios de este sitio. Si usted tiene alguna pregunta acerca de 
        esta política o nuestras prácticas, por favor envíenos un correo electrónico a administracion@negociosycontactos.com 
        con el titulo de mensaje: Dudas política de privacidad. Para ver el detalle de la política de privacidad haga click 
        @Html.ActionLink("aquí", "PrivacyPolicy", "Home", new { id = "lnkPrivacy", style = "text-decoration:underline;color:yellowgreen;"})
    </p>
    <p>
        "Negocios y Contactos" ofrece a nuestros usuarios un espacio exclusivo en donde podrán ofertar sus productos y 
        servicios. Para ello hemos creado un sencillo asistente que le guiará en la construcción de su propio espacio 
        en Internet. Los usuarios podrán crear el espacio de contacto gratuitamente.
    </p>
    <p>
     El espacio de contacto se compone de lo siguiente:
        <br /><br />
    </p>
    <p style="margin-left:2em;"> 
        •	El nombre del negocio<br />
        •	Imagen principal o logo de negocio<br />
        •	El portafolio de productos o servicios del negocio, compuesto por un conjunto limitado de imágenes. El numero 
            límitado de imágenes que componen el  portafolio de productos o servicios podrá ser modificado en cualquier 
            momento por "Negocios y Contactos". Si se modifica el número de elementos que componen el portafolio esto será 
            informado a nuestros usuarios a través de correo electrónico y/o a través del nuestro sitio web.<br />
        •	El color y estilo aplicado al espacio de contacto.<br />
        •	Los datos de los productos y/o servicios del portafolio.<br />
        •	Ubicación espacial de tu establecimiento de comercio principal.<br />
        •	Localizador Unificado de Recursos o dirección de internet única para cada negocio.<br />
        •	Un espacio de contacto libre de publicidad, solo con el propósito de darle a nuestros usuarios presencia en internet 
            a muy bajo costo.<br />
        •	Los usuarios de nuestro sitio también tienen derecho a publicidad gratuita propia de "Negocios y Contactos", 
            la cual podrá ser vista por todos nuestros usuarios en las diferentes secciones de nuestro sitio web dispuestas 
            para ello.<br /><br />
    </p>
    <p>
        Para mantener en línea el espacio de contacto, los usuarios deberán pagar el valor de la suscripción anual vigente. La 
        anualidad empieza a partir de la creación del espacio de contacto.  Los detalles de la forma, medio y valor del pago 
        serán enviados a través de correo electrónico en un plazo no superior a quince (15) días a partir del registro del sitio. 
        Posterior al envío de la comunicación por parte de "Negocios y Contactos" los usuarios deberán responder el correo en un 
        plazo no superior a treinta (30) días con una copia de la consignación bancaria o el detalle de la transferencia 
        electrónica realizada.
        Para las renovaciones Negocios y Contactos enviará un correo electrónico treinta (30) días antes del fin de la vigencia.
    </p>
    <p>
        "Negocios y Contactos" y sus componentes se ofrecen únicamente con fines informativos; Este sitio no se hace responsable 
        de la exactitud, utilidad o disponibilidad de cualquier información que se transmita o ponga a disposición o a través de 
        la misma; no será responsable por cualquier error u omisión en dicha información”.
    </p>
    <p>
        "Negocios y Contactos" y su contenido original, las características y la funcionalidad son propiedad de 
        <a href="">AreSoftware</a> y están protegidos por derechos de autor internacionales, marcas registradas, patentes, 
        secretos comerciales y demás leyes de propiedad intelectual o de derechos de propiedad.
    </p>
    <p>
        "Negocios y Contactos" podrá publicar anuncios de terceros sin que esto tenga que afectar a los usuarios de nuestro sitio. 
        Los anuncios publicados son de dos tipos: Anuncios propios acerca de los negocios establecidos en nuestro sitio y anuncios 
        de terceros que son pagos de acuerdo a la cantidad de visitas a los anunciantes.
    </p>
    <p>
        "Negocios y Contactos" pone a su disposición medios de pago como consignación en cuenta bancaria o transferencia electrónica 
        desde los diferentes portales bancarios.  Para mayor información acerca del medio de pago por favor envíanos un mensaje de 
        correo electrónico y nosotros te enviaremos los datos para realizar el pago.
    </p>
    <p>
        Si el usuario considera que "Negocios y Contactos" no cumplió con lo estipulado en los términos y condiciones, podrá solicitar 
        la devolución del pago anual a través de correo electrónico. Para la devolución del dinero el usuario deberá indicar en el 
        correo electrónico una cuenta bancaria para realizar la consignación y recibirá un correo electrónico con los detalles de la 
        consignación o la transferencia electrónica realizada.
    </p>
    <p>
        "Negocios y Contactos" ofrece a nuestros usuarios la posibilidad de entrega de los productos si ellos así lo desean. Para 
        esto es necesario que previamente se haya realizado el pago del producto. Los costos de entrega estarán a cargo del comprador.  
        Los detalles de la entrega como Courier de mensajería serán enviados a través de correo electrónico. Los tiempos de entrega de 
        los productos dependerán de los Courier de mensajería.
    </p>
    <p>
        Si se determina que existe o existió un abuso en cuanto al uso o publicación de contenidos por parte de los usuarios 
        "Negocios y Contactos" se reserva el derecho a cancelar su acceso al sitio, sin causa o aviso, lo cual podrá resultar 
        la destrucción de toda la información que esté asociada con su cuenta.
    </p>
    <p>
        "Negocios y Contactos" se reserva el derecho de modificar estas condiciones cuando sea necesario; asimismo, el uso permanente 
        de la página significará su aceptación de cualquier ajuste a tales términos. Si hay algún cambio en nuestra política de 
        privacidad, anunciaremos en nuestra página principal y en otras páginas importantes de nuestro sitio que se han hecho tales 
        cambios. Si hay algún cambio en nuestra página respecto a la manera en que usamos la información de identificación personal de 
        nuestros clientes, enviaremos una notificación por correo electrónico a aquellos que sean afectados por el cambio. Todo cambio 
        en nuestra política de privacidad se publicará en nuestra página antes de que tales cambios ocurran. Por lo tanto, se le 
        recomienda volver a leer esta declaración de manera regular.
    </p>
</div>
