@{
    ViewBag.Title = "Acerca de";
}
<h2 style="margin-top:4em;">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>Negocios y Contactos es una empresa colombiana dedicada a prestar servicios tecnológicos a las pequeñas y medianas empresas.</p>
<p>En este portal usted podrá tener un espacio en internet a muy bajo costo, es el inicio para aquellos que quieren promocionar sus productos
    o servicios y no quieren o no pueden invertir en publicidad de alto costo.</p>
<p>
   Es un buen inicio si usted nunca ha estado en contacto con la publicidad en internet pero quiere promocionar facilmente sus productos o servicios.
</p>

<br /><br /><br />
