@{
    ViewBag.Title = "Acerca de";
}
<div class="jumbotron" style="float:left;">
    <h1>NEGOCIOS Y CONTACTOS</h1>
</div> 
<h2 style="margin-top:4em;">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>Negocios y Contactos es una portal dedicado a prestar servicios tecnológicos a los pequeños negocios y a las pequeñas y medianas empresas.</p>
<p>En este sitio usted podrá tener un espacio en la Internet a muy bajo costo, es el inicio para aquellos que quieren promocionar sus productos
    o servicios y no quieren o no pueden invertir en publicidad de alto costo.</p>
<p>
   Es un buen inicio si usted nunca ha estado en contacto con la publicidad en la Internet pero quiere publicar sus productos o servicios.
</p>

<p>
    El procedimiento es muy sencillo, lo primero que debe hacer es ingresar al sitio, si tiene cuenta de facebook o google vaya directamente o "Ya eres parte, Ingresa"
    sino ingrese al menú "Únete a nosotros", llene el formulario con algunos datos y asigne un usuario para ingresar.
    Despues de haber ingresado vaya al menú "Tu Espacio" para que usted mismo configure su Espacio de Contacto.
    Cuando haya terminado de diligenciar los pasos del asistente puede ir al menú "Buscar" y puede encontrar su Espacio de Contacto ingresando el nombre de su negocio 
    o ingresando la categoría que escogió en la configuración. Puede copiar la URL de su negocio y usarla en tarjetas de presentación o distribuirla a sus clientes.
</p>

<p>
    Para los usuarios que no hacen parte del nuestro sitio ofrecemos la posibilidad de contactar y ser contactado cuando necesiten un producto o servicio ofrecido en el portal.
    Lo que deben hacer es buscar la categoría o nombre del negocio y luego hacer clic en el producto o servicio y diligenciar el formulario.  En ese momento le enviaremos un 
    correo electrónico al dueño del negocio para que se contacten con ustedes y creen el vínculo comercial.
</p>

<br /><br /><br />
