@{
    ViewBag.Title = "Contacto";
}
<h2 style="margin-top:4em;">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<address>
    Calle 27 Bis S 12 K 64<br />
    Bogotá, Colombia<br />
    <abbr title="Phone">P:</abbr>
    Cel: 320 405 13 71
</address>
<address>
    <strong>Soporte:</strong>   <a href="mailto:ares.faas@gmail.com">ares.faas@gmail.com</a><br />
</address>
<br /><br /><br />